@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  top: 26pt;
  right: 8pt;
  width: 325px;
}
.wrapper .player {
  width: 100%;
  /* padding: 3pt 0pt; */
  background: #181818e0;
  border-radius: 6pt;
  display: inline-block;
}
.wrapper .player .character {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.wrapper .player .character .logo {
  width: 80%;
  transform: translate(10%, 20%);
  height: 52px;
  -webkit-animation: logoanim 5s linear forwards;
  animation: logoanim 5s linear forwards;
}
.wrapper .player .character .logo polygon {
  stroke: #975fea;
  stroke-width: 24px;
  stroke-dasharray: 4986.1513671875;
}
.wrapper .player .status {
  float: right;
  width: 100%;
  /* transform: translateY(3.5%); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}
.wrapper .player .status .srv-title {
  margin-top: 4pt;
  width: var(--width);
  text-align: var(--align);
  font-family: "Open+Sans", sans-serif;
  font-weight: bold;
  font-size: var(--size);
  color: #929292;
}
.wrapper .player .status .bars {
  width: 100%;
  margin: 4pt 0pt;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.wrapper .player .status .bars .bar {
  width: var(--width);
  height: 20px;
  margin: 2pt;
  background: var(--background);
  border-radius: 6pt;
  align-self: flex-end;
}
.wrapper .player .status .bars .bar .icon {
  font-size: 9pt;
  transform: translate(50%, 25%);
  position: absolute;
  color: var(--color);
}
.wrapper .player .status .bars .bar .value {
  width: var(--width);
  height: 100%;
  background: var(--background);
  border-radius: 6pt;
}
.wrapper .player .status .text-item {
  /* padding: 2pt 0pt; */
  width: var(--width);
  text-align: var(--align);
  font-family: "Open+Sans", sans-serif;
  margin-bottom: 3pt;
  font-weight: bold;
  font-size: var(--size);
  color: #929292;
}
.wrapper .job {
  padding: 4pt 6pt;
  background: #181818e0;
  border-radius: 6pt;
  color: #929292;
  font-family: "Open+Sans", sans-serif;
  white-space: nowrap;
}
.wrapper .job .name {
  margin: 1.5pt 0pt;
  float: left;
  font-weight: 700;
  font-size: 9pt;
  width: 40%;
}
.wrapper .job .texts {
  text-align: right;
  display: inline-block;
  font-size: 11pt;
  width: 60%;
}
@-webkit-keyframes logoanim {
  0% {
    fill: none;
    stroke-dashoffset: 4986.1513671875;
  }
  75% {
    fill: rgba(0, 204, 102, 0);
    stroke-dashoffset: 0;
  }
  100% {
    fill: #7946c5;
  }
}
@keyframes logoanim {
  0% {
    fill: none;
    stroke-dashoffset: 4986.1513671875;
  }
  75% {
    fill: rgba(0, 204, 102, 0);
    stroke-dashoffset: 0;
  }
  100% {
    fill: #7946c5;
  }
}
